<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clear</key>
	<string>#000000AAAA</string>
	<key>darkGray</key>
	<string>#555555</string>
	<key>lightGrey</key>
	<string>#DDDDDD</string>
	<key>baseBtn</key>
	<string>#99060d</string>
	<key>blue</key>
	<string>#0000FF</string>
	<key>red</key>
	<string>#FF0000</string>
	<key>black</key>
	<string>#000000</string>
	<key>white</key>
	<string>#FFFFFF</string>
	<key>theme</key>
	<string>#000000</string>
	<key>themeSelectedButton</key>
	<string>#0000FC</string>
	<key>themeButton</key>
	<string>#ffffff</string>
	<key>primary</key>
	<string>#F0F000</string>
	<key>secondary</key>
	<string>#0F0FFF</string>
	<key>baseTheme</key>
	<string>#B81F24</string>
	<key>grayLight</key>
	<string>#969696</string>
	<key>grayBG</key>
	<string>#F8F8F8</string>
	<key>themeRed</key>
	<string>#ED254E</string>
	<key>themeText</key>
	<string>#3C384C</string>
	<key>redWhiteTheme</key>
	<string>#E80003</string>
	<key>bottomLine</key>
	<string>#9D9AAB</string>
	<key>themeTextPurple</key>
	<string>#4D4963</string>
	<key>homeTextYellowColor</key>
	<string>EDA62D</string>
</dict>
</plist>
